<nav class="navbar bg-secondary-color navbar-dark shadow">
    <div class="container-fluid">
        <a href="/" class="navbar-brand me-auto mt-2 text-gray-100">
            <h3>Currículo</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"
            aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse">
            <hr class="box-info-hr mt-2 mb-2">
            <div class="row mt-0 text-gray-100">
                <div class="col-12 mt-1">
                    <ul class="nav justify-content-end text-uppercase ms-auto me-auto mt-0">
                        <li class="nav-item"><a href="/home" class="nav-link active text-gray-100">Ínicio</a></li>
                        <li class="nav-item"><a href="/sobre" class="nav-link text-gray-100">Sobre</a></li>
                        <li class="nav-item"><a href="/contato" class="nav-link text-gray-100">Contato</a></li>
                    </ul>
                </div>
            </div>
            <hr class="box-info-hr mt-2 ms-auto">
            <div class="row mt-2 mb-2">
                <div class="col-3 ms-auto me-auto">
                    <div class="text-center">
                        <img src="../../../assets/img/bruno.webp" alt="Bruno Barbosa Neves" class="text-center mb-1">
                    </div>
                    <header class="text_paragraph-gray-100 text-center mt-2">
                        <h5>Bruno Barbosa Neves</h5>
                    </header>
                </div>
                <div class="col-9">
                    <ul class="text_paragraph-gray-100 text-start mt-2">
                        <li>Desenvolvedor Front End - Colégio CPV - 03/2021 / até o momento</li>
                        <li>Cursando Engenharia de Computação - Faculdade Descomplica - 01/2023 / 1º Semestre</li>
                    </ul>
                </div>
            </div>
            <hr class="box-info-hr">
            <div class="row mb-2">
                <div class="col-12 me-auto ms-auto w-100">
                    <ul class="nav justify-content-center">
                        <li class="nav-item text-center"><a href="#" class="nav-link "><i class="fa fa-instagram text_paragraph-gray-100" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text_paragraph-gray-100" aria-hidden="true"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link text_paragraph-gray-100"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>